@font-face {
  font-family: 'NotoSansKR';
  src: url('../assets/fonts/NotoSansKR-subset-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('../assets/fonts/NotoSansKR-subset-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('../assets/fonts/NotoSansKR-subset-Regular.ttf');
  font-weight: 400;
}
